:markdown
  ## Responsibilities

  An executive assistant supports our leadership teams in EST - PST timezones. We’re searching for a self-driven, collaborative,
  and agile team member who is experienced in managing multiple priorities, juggling various responsibilities, and anticipating
  executives’ needs. Executive assistants at GitLab toggle seamlessly between various systems including Gmail, Slack, Expensify, and
  GitLab to accomplish an array of tasks, while staying focused on prioritization and escalating urgent issues. The perfect candidate will be
  exceptionally organized personally and enjoys organizing for others, has a deep love of logistics and thrives in a dynamic start-up environment.
  We're looking for a talented communicator and an expert planner to ensure GitLab continues to run smoothly.
